@model Hk.QrPay.Service.Dto.UserDto
@{
    ViewBag.Title = "Add";
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/content/css/content-base.css" rel="stylesheet" />
    <title></title>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>添加用户</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form action="@Request.Url.PathAndQuery" class="form-horizontal" method="post">                
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                       @Html.LabelFor(item => item.LoginName) ：</label>
                    <div class="col-sm-8">
                       @Html.TextBoxFor(item => item.LoginName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">@Html.LabelFor(item => item.RealName)：</label>
                    <div class="col-sm-8">
                       @Html.TextBoxFor(item => item.RealName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">@Html.LabelFor(item => item.Email)：</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(item => item.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">@Html.LabelFor(item => item.Password)：</label>
                    <div class="col-sm-8">
                         @Html.TextBoxFor(item => item.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"><label for="ConfirmPwd">确认密码</label>：</label>
                    <div class="col-sm-8">
                        <input class="form-control" data-val="true" data-val-equalto="两次输入不一致" data-val-equalto-other="*.Password" data-val-maxlength="确认密码长度不能超过12个字符" data-val-maxlength-max="12" data-val-minlength="确认密码长度不能少于6个字符" data-val-minlength-min="6" data-val-required="确认密码不能为空" id="ConfirmPwd" name="ConfirmPwd" placeholder="请再次输入登录密码" type="text" value="" />
                        <span class="field-validation-valid" data-valmsg-for="ConfirmPwd" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8">
                        <button class="btn btn-info" type="submit" id="btnSave">保存</button>
                        <button class="btn btn-white" type="button" id="btnBack" data-type="url">返回</button>
                    </div>
                </div>
</form>        
        </div>
    </div>
</div>

  <script src="~/Content/js/base.js"></script>
    <script src="~/content/js/jqueryValidate.js"></script>
    <script src="~/content/js/menu.js"></script>
    <script src="~/content/js/action.js"></script>

</body>
</html>





